.dialog-container {
  width: 700px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

/*.dialog-container md-tab {
  max-height: 82vh;
}*/

.dialog-container h3,
.dialog-container h2 {
  font-weight: normal;
}

.dialog-container form {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

.dialog-container form .main-tab-header {
  border-bottom: 1px solid lightgrey;
  padding: 24px 0;
  font-size: calc(1.1rem + 0.25vw);
}
.dialog-container form .main-tab-footer {
  padding: 24px 0;
  border-top: 1px solid lightgrey;
}
.dialog-container form .main-tab-editor {
  max-height: 72vh;
  overflow: auto;
  padding: 0 24px;
}

.dialog-container form h3,
.dialog-container form md-grid-list,
.dialog-container form md-grid-list md-input {
  width: 100%;
}

.dialog-container form h3 {
  display: flex;
  align-items: center;
}

.dialog-container form h3 span {
  border-radius: 50%;
  background: #2196F3;
  /*color: #fff;*/
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-right: 15px;
}
.dialog-container form h3 span::before {
  content: attr(data-idx);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
}

.dialog-container form h4 {
  /*font-weight: normal;*/
  margin: 0;
  color: #2196F3;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 250px;
  width: 20%;
  border: 2px solid #2196F3;
  text-align: center;
}

.dialog-container form h4.selected {
  background-color: #2196F3;
  color: #fff;
}

.dialog-container .product-inline-info-container {
  width: 100%;
  padding: 7.5px 0;
  transition: height 0.25s ease;
  will-change: height;
  /*overflow: hidden;*/
}

.dialog-container .product-inline-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 7.5px 0;
  /*overflow: hidden;*/
}

.dialog-container .controls {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}


.dialog-container >>> md-tab-body {
  max-height: none;
}

.dialog-container .find-people-controls {
  display: flex;
  flex-wrap: wrap;
}

.dialog-container .add-user-controls ,
.dialog-container .search-controls {
  flex-grow: 1;
}

.dialog-container .search-controls {
  border-right: 1px solid lightgrey;
}

.dialog-container .currently-added {
  width: 100%;
}
