.dialog-container {
  width: 700px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

.dialog-container h3,
.dialog-container h2 {
  font-weight: normal;
}

md-divider {
  margin: 0 -24px;
}

.dialog-container .main-tab-header {
  /*padding: 0 24px;
  padding-bottom: 0;*/
  font-size: calc(1.1rem + 0.25vw);
  text-align: left;
}

.dialog-container .main-tab-footer {
  padding: 0px 8px;
  padding-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}
.dialog-container .main-tab-footer md-dialog-actions {
  margin-bottom: 0;
  padding-bottom: 0;
}

.dialog-container .main-tab-footer md-dialog-actions button:not(:last-of-type) {
  margin-right: 8px;
}

.dialog-container .main-tab-editor {
  max-height: 72vh;
  overflow: auto;
  padding: 0 24px;
  margin: 0 -24px;
}

.dialog-container .main-tab-editor h3,
.dialog-container .main-tab-editor md-grid-list,
.dialog-container .main-tab-editor md-grid-list md-input-container {
  width: 100%;
}

.dialog-container .main-tab-editor h3 {
  display: flex;
  align-items: center;
}

.dialog-container .main-tab-editor h3 span {
  border-radius: 50%;
  background: #2196F3;
  /*color: #fff;*/
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-right: 15px;
}
.dialog-container .main-tab-editor h3 span::before {
  content: attr(data-idx);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
}

.dialog-container .main-tab-editor h4 {
  /*font-weight: normal;*/
  margin: 0;
  color: #2196F3;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 250px;
  width: 20%;
  border: 2px solid #2196F3;
  text-align: center;
}

.dialog-container .main-tab-editor h4.selected {
  background-color: #2196F3;
  color: #fff;
}

.dialog-container .product-inline-info-container {
  width: 100%;
  padding: 7.5px 0;
  transition: height 0.25s ease;
  will-change: height;
  /*overflow: hidden;*/
}

.dialog-container .product-inline-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 7.5px 0;
  /*overflow: hidden;*/
}

.dialog-container .controls {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}


.dialog-container >>> md-tab-body {
  max-height: none;
}

.dialog-container .find-people-controls {
  display: flex;
  /*flex-wrap: wrap;*/
  margin-bottom: 24px;
}

.dialog-container .add-user-controls ,
.dialog-container .search-controls {
  flex-grow: 1;
  text-align: center;
  flex-basis: 50%;
}

.dialog-container .search-controls {
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;

}

.dialog-container md-tab-group.find-people-controls >>> md-tab-header {
  display: flex;
  margin-bottom: 16px;
}

.dialog-container md-tab-group.find-people-controls >>> md-tab-header .mat-tab-label {
  flex-grow: 1;
}

.dialog-container .add-user-controls .add-user-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.dialog-container .currently-added {
  width: 100%;
  margin-bottom: 45px;
  text-align: center;
}

.dialog-container .currently-added >>> .md-chip-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.dialog-container .currently-added md-chip {
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.dialog-container .currently-added md-chip.primary {
  background-color: #2196F3;
  color: #fff;
}

.dialog-container .currently-added md-chip .name {
  font-size: calc(0.8rem + 0.2vw);
  margin: 0px 5px;
}

.dialog-container .currently-added md-chip button[md-button] {
  margin: 0;
  padding: 0;
  min-width: 24px;
  line-height: 24px;
}
