<div class="dialog-container">
  <div class="main-tab">
    <div class="main-tab-header">
      <h2 md-dialog-title>{{ dialogRef.config.data.role === 'edit' ? 'Edit' : 'Add'}} Dealership</h2>
    </div>
    <md-divider></md-divider>
    <div class="main-tab-editor">
      <!--- DEALERSHIP INFO -->
      <h3><span data-idx="1"></span> Dealership Information</h3>
      <pt-dealership-info [dealershipFormGroup]="dealership_form_group" (change)="onDealershipInfoChange($event)"></pt-dealership-info>

      <!-- ADD PRODUCTS -->
      <h3><span data-idx="2"></span> Add Products</h3>
      <md-spinner *ngIf="products.length === 0"></md-spinner>
      <pt-product-selector *ngIf="products" [(productsModel)]="products" [milestonesModel]="milestone_templates"></pt-product-selector>

      <!-- ADD USERS -->
      <h3><span data-idx="3"></span> Add Users</h3>
      <!--<md-tab-group [selectedIndex]="2" class="find-people-controls">-->
        <!--<md-tab label="Search Exsisting Users">-->
          <pt-user-search [(usersModel)]="filtered_users" [(addedUsersModel)]="added_users"></pt-user-search>
        <!--</md-tab>-->
        <!--<md-tab label="Add New User">
          <pt-user-info [(userModel)]="add_user" (submit)="addUser()"></pt-user-info>
        </md-tab>-->
      <!--</md-tab-group>-->
      <div class="currently-added">
        <div>Currently Added</div>
        <div *ngIf="!added_users.length">None added yet</div>
        <md-chip-list>
          <md-chip *ngFor="let added_user of added_users; let i = index" [class.primary]="added_user.role === 'primary'">
            <span class="name">{{added_user?.name}}</span>
            <button (click)="removeUser(i)" md-button><i class="material-icons">clear</i></button>
          </md-chip>
        </md-chip-list>
      </div>
      <!-- END -->
    </div>
    <md-divider></md-divider>
    <div class="main-tab-footer">
      <md-dialog-actions>
        <button md-dialog-close md-button >CANCEL</button>
        <button md-raised-button color="primary" (click)="addDealership()" [disabled]="!dealership_form_group.valid">SAVE</button>
      </md-dialog-actions>
    </div>
  </div>
</div>
