<md-toolbar color="primary">
  <span>Project Manager</span>
</md-toolbar>
<pt-dash arrowFill="#fff">
  
  <pt-dash-menu>
    <div class="menu-header">
      <h4>{{(userInfo._info | async )?.name}}</h4>
      <div class="header-info">
        <div class="feild">{{(userInfo._info | async )?.email}}</div>
      </div>
    </div>
    <div class="menu-container">
      <a md-button [routerLink]="['account']"><span>Account</span><i class="material-icons">person</i></a>
      <button md-button (click)="userInfo.logout()"><span>Logout</span><i class="material-icons">power_settings_new</i></button>
      <div class="section">Pages</div>
      <a md-button [routerLink]="['dealership-overview']">
        <span>Dealership Overview</span>
      </a>
      <a md-button [routerLink]="['user-list']">
        <span>Users</span>
      </a>
      <a md-button [routerLink]="['product-template-list']">
        <span>Product Templates</span>
      </a>
      <a md-button [routerLink]="['milestone-template-list']">
        <span>Milestone Templates</span>
      </a>
      <a md-button [routerLink]="['form-list']">
        <span>Forms</span>
      </a>
    </div>
  </pt-dash-menu>
  <div class="pm-dashboard">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</pt-dash>
