$menu-background: #263238;
$background: darken($menu-background, 3%);
$textColor: #fff;
$primaryColor: #2196f3;
$warnColor: rgb(189, 52, 42);

md-toolbar {
  span {
    margin-left: 52px;
  }
}

.menu-header {
  background: url('../assets/sidenav-header-background.png') $menu-background no-repeat 0% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(250px - 32px);
  height: 112px;
  padding: 8px 16px;

  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  h4 {
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  .header-info  {
    display: flex;

    & > div { 
      flex-grow: 1;
    }

    .feild {
      color: transparentize($textColor, 0.6);
      font-size: 12px;
    }

  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px 0px;
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

  &::after {
    content: '';
    position: absolute;
    background: url('../assets/triangle-pattern.png') repeat 0% 0%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.07;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .section {
    color: transparentize($textColor, 0.5);
    padding: 0 8px;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  [md-button] {
    margin: 0;

    & /deep/ .mat-button-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-item-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      span {
        max-width: 60%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}


pt-dash-menu {
  background: $menu-background;
}

.pm-dashboard {
  flex-grow: 1;
  background: $background;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    max-width: 1200px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 8px;
    position: relative;
    justify-content: center;

    & /deep/ md-card:not(.no-pm-dash-style) {
      margin: 8px;
      color: $textColor;
      background-color: $menu-background;
      width: 300px;
      max-width: calc(100vw - 32px - 16px);

      .mat-input-underline {
        border-color: transparentize($textColor, 0.88);
      }

      .mat-input-placeholder {
        color: $textColor;
      }

      .mat-input-placeholder.mat-focused {
        color: $primaryColor;
      }

      md-input-container.ng-dirty.ng-invalid .mat-input-underline {
        border-color: $warnColor;
      }

      md-input-container.ng-dirty.ng-invalid .mat-input-placeholder {
        color: $warnColor;
      }

      md-input-container.ng-invalid .mat-input-placeholder.mat-focused {
        color: $warnColor;
      }

      .mat-button-wrapper {
        color: $textColor;
      }
    }

    .add-dealership-fab {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
}

user-slider {
  width: 100%;
}
