<div class="pm-header">
  <div class="container">
    <div class="left">
      <h1>{{ (info)?.name }}</h1>
    </div>
  </div>
</div>
<div class="pm-dashboard">
  <div class="container">
    <div class="accounts">
      <div class="controls">
        <span>Accounts:</span>
        <button md-raised-button (click)="openDialog()" color="primary">Add Dealership</button>
      </div>
      <div class="grid">
        <md-card *ngFor="let dealership of dealerships" class="dealership-item has-overlay">
          <h3>{{ dealership.dealership.name }}</h3>
          <div class="info">
            <span>{{ getPrimaryUser(dealership.users).name }}</span>
          </div>
          <div class="info">
            <i class="material-icons">phone</i>
            <a href="tel: {{ getPrimaryUser(dealership.users).phone | phone_format:false }}">{{ getPrimaryUser(dealership.users).phone | phone_format:true }}</a>
          </div>
          <div class="info">
            <i class="material-icons">email</i>
            <a href="mailto: {{ getPrimaryUser(dealership.users).email }}">{{ getPrimaryUser(dealership.users).email }}</a>
          </div>
          <user-slider [(users)]="dealership.users"></user-slider>
        </md-card>
      </div>
    </div>
    <div class="logos">
      <div class="moto">
        <img [src]="productLogos.getLogo('We Are Automotive').path" [alt]="productLogos.getLogo('We Are Automotive').alt">
      </div>
      <div class="products">
        <img *ngFor="let pl of productLogos.getProductLogos();" [src]="pl.path" [alt]="pl.alt">
      </div>
    </div>
  </div>
</div>
