<md-tab-group [selectedIndex]="tab || 0">
  <md-tab *ngFor="let product of dealerships[selected_uid]?.products;" >
    <template md-tab-label>
      <img [ptLogo]="product.logo_info">
    </template>
    <div class="milestone-content">
      <div>
        <h2>Projected Activation Date: <span>{{ product?.activation | getDateMS | date }}</span></h2>
        <div class="pm-contact">
          <div>
            <span>
              <i class="material-icons">person</i>{{ (dealerships[selected_uid]?.project_manager)?.name }}
            </span>
          </div>
          <div>
            <span>
              <i class="material-icons">email</i>
              <a href="mailto: {{ (dealerships[selected_uid]?.project_manager)?.email }}">
                {{ (dealerships[selected_uid]?.project_manager)?.email }}
              </a>
            </span>
          </div>
          <div>
            <span>
              <i class="material-icons">phone</i>
              <a href="tel: {{ (dealerships[selected_uid]?.project_manager)?.phone | phone_format:false }}">
                {{ ((dealerships[selected_uid]?.project_manager)?.phone | phone_format:true) }}
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="milestone-container">
        <section id="timeline" class="timeline-outer">
            <div class="container" id="content">
              <ul class="timeline">
                <li class="complete event"
                    [attr.data-date]=" product?.started | getDateMS | date ">
                  <h3><i class="material-icons">done</i>Started</h3>
                  <!--<p>Product Started</p>-->
                </li>
                <li *ngFor="let milestone of (product.milestone_model)?.milestones; let i = index"
                    [class]=" (milestone.status | getMilestoneStatusClass) + ' event' "
                    [attr.data-date]=" milestone | getMilestoneETADate:product | date ">
                  <h3><i class="material-icons">{{ milestone.status | getMilestoneStatusIcon }}</i>{{milestone.name}}</h3>
                  <p>{{milestone.description}}</p>
                  <div *ngIf="milestone.action" class="actions-container">
                    <div *ngIf="milestone.action === 'Upload'">
                      <a md-raised-button
                         color="primary"
                         href="mailto:{{ dealerships[selected_uid]?.project_manager.email }}?Subject={{ 'Upload Logo' | encodeURIComponent }}" >
                        UPLOAD LOGO
                      </a>
                    </div>

                    <div *ngIf="milestone.action === 'Form Download'">
                      <a md-raised-button color="primary" 
                         [disabled]=" (milestone.downloadUrl$ | async) ? false : true"
                         [href]=" milestone.downloadUrl$ | async "
                         download >
                        DOWNLOAD FORM
                      </a>
                      <a md-raised-button
                         color="primary"
                         href="mailto:{{ dealerships[selected_uid]?.project_manager.email }}?Subject={{ 'COMPLETED FORM -- ' + milestone.name | encodeURIComponent }}" >
                        UPLOAD COMPLETED FORM
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
        </section>
      </div>
    </div>
  </md-tab>
</md-tab-group>
