<md-tab-group [selectedIndex]="1">
  <md-tab *ngFor="let product of products;" >
    <template md-tab-label>
      <img [src]="product.logo_info.path" [alt]="product.logo_info.alt">
    </template>
    <div class="milestone-content">
      <div>
        <h2>Projected Activation Date: {{ (product.product | async)?.activation }}</h2>
        <div class="pm-contact">
          <div>
            <span>
              <i class="material-icons">person</i>{{(userInfo.project_manager | async)?.name}}
            </span>
          </div>
          <div>
            <span>
              <i class="material-icons">email</i>
              <a href="mailto: {{(userInfo.project_manager | async)?.email}}">{{(userInfo.project_manager | async)?.email}}</a>
            </span>
          </div>
          <div>
            <span>
              <i class="material-icons">phone</i>
              <a href="tel: {{(userInfo.project_manager | async)?.phone | phone_format:false}}">{{((userInfo.project_manager | async)?.phone | phone_format:true)}}</a>
            </span>
          </div>
        </div>
      </div>

      <div class="milestone-container">
        <section id="timeline" class="timeline-outer">
            <div class="container" id="content">
              <ul class="timeline">
                <li *ngFor="let milestone of (product.milestone | async)?.milestones; let i = index"
                [@milestoneFlyIn]="product.milestone_state"
                [class]="getClass(milestone.status)"
                [attr.data-date]="getDate(product.product | async, milestone) | date:'shortDate'">
                  <h3>{{milestone.name}}</h3>
                  <p>{{milestone.description}}</p>
                </li>
              </ul>
          </div>
        </section>
      </div>
    </div>
  </md-tab>
</md-tab-group>
