
md-tab-group {
  background-color: black;
  /*padding: 25px;*/
  min-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
}

md-tab-group >>> md-tab-header {
  border-bottom: none;
  /*padding-top: 16px;*/
}

md-tab-group >>> md-tab-header .mat-tab-labels {
  justify-content: space-around;
}

md-tab-group >>> md-tab-header .mat-tab-labels .mat-tab-label {
  padding-top: 16px;
  padding-bottom: 16px;
  height: calc(48px + 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

md-tab-group >>> md-tab-header .mat-tab-labels .mat-tab-label:focus {
  background-color: rgba(187, 222, 251, 0.0);
}

md-tab-group >>> md-tab-header .mat-tab-labels .mat-tab-label:hover,
md-tab-group >>> md-tab-header .mat-tab-labels .mat-tab-label.mat-tab-label-active {
  opacity: 1 !important;
}

md-tab-group >>> .mat-tab-body-wrapper {
  flex-grow: 1;
}

md-tab-group >>> .mat-tab-body-wrapper md-tab-body {
  background-color: #222B32;
  color: #fff;
  text-align: center;
}

.milestone-content {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

md-card {
  margin-top: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.milestone-content h1, h2, h3, h4, h5, p, a, li {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.pm-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(0.85rem + 0.3vw);
}

.pm-contact span {
  display: flex;
  align-items: center;
  margin: 0 25px;
  font-family: 'Raleway', sans-serif;
}

.pm-contact span i {
  margin-right: 10px;
}

.pm-contact span a,
.pm-contact span a:hover,
.pm-contact span a:visited {
  color: #fff;
}

.milestone-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.milestone-container md-card {
  flex: 0 0 calc(100% - 50px);
  box-sizing: border-box;
}

@media (min-width: 750px) {
  .milestone-container md-card {
    flex: 0 0 calc(50% - 50px);
  }
}

@media (min-width: 1240px) {
  .milestone-container md-card {
    flex: 0 0 calc(33.333% - 50px);
  }
}


/* Timeline */

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

.timeline {
  /*border-left: 8px solid #42A5F5;*/
  /*border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;*/
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  color: #fff;
  margin: 50px 32px;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 0px;
  list-style: none;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  /*background-color: white;*/
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
  font-weight: 600;
}



.timeline .event {
  /*border-bottom: 1px solid rgba(160, 160, 160, 0.2);*/
  padding-bottom: 15px;
  /*margin-bottom: 20px;*/
  position: relative;
  padding: 20px;
  box-shadow: -10px 0px 0px 0px #42A5F5;
  transition: all 0.3s ease;
}

.timeline .event:last-of-type {
  /*padding-bottom: 0;*/
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
  transition: all 0.3s ease;
}

.timeline .event:before {
  left: -147.5px;
  color: #fff;
  content: attr(data-date);
  text-align: right;
  /*  font-weight: 100;*/
  top: 41px;
  font-size: 16px;
  min-width: 120px;
}

.timeline .event:after {
  box-shadow: 0 0 0 8px #42A5F5;
  left: -12px;
  background: #212121;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 47px;
}


.timeline .event.needs-attention {
  box-shadow: -10px 0px 0px 0px #EF5350;
  border-right: 4px solid #EF5350;
}
.timeline .event.needs-attention:after {
  box-shadow: 0 0 0 8px #EF5350;
}

.timeline .event.complete {
  box-shadow: -10px 0px 0px 0px #66BB6A;
  /*border-right: 4px solid #66BB6A;*/
}
.timeline .event.complete:after {
  box-shadow: 0 0 0 8px #66BB6A;
}

.timeline .event h3 {
  display: flex;
  align-items: center;
}

.timeline .event p {
  width: 500px;
  max-width: 100%;
}

.timeline .event h3 i {
  margin-right: 10px;
  color: #42A5F5;
}

.timeline .event.needs-attention h3 i {
  color: #EF5350;
}
.timeline .event.complete h3 i {
  color: #66BB6A;
}

/**/
/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
  .timeline .event::before {
    left: 19.5px;
    bottom: 0;
    top: initial;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 0px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
  .timeline .event:after {
    top: 41px;
  }

}

@media (max-width: 768px) {
  .timeline .event::before {
    left: 19.5px;
    bottom: 0;
    top: initial;
    min-width: 0;
    font-size: 13px;
  }

  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 0px;
  }
}

@media (max-width: 414px) {
  .timeline .actions-container > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .timeline .actions-container > div a[md-raised-button] {
    flex-grow: 1;
  }

  .timeline .actions-container > div a[md-raised-button]:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
