<div class="not-found-container">
  <a class="logo" [routerLink]="['/login']"><img src="../assets/logo_white_256x256.png" /></a>
  <div class="error-code">
    404
  </div>
  <p>It looks like the page you're looking for could not be found.</p>
  <a [routerLink]="['/login']">Return to login</a>
</div>


