div.not-found-container {
    background: url('../assets/404-background.jpg') #222B32 no-repeat center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'Raleway';
    font-size: calc(1rem + 0.2vw);

    position: relative;
    overflow: hidden;

    text-shadow: 0px 0px 1px #222B32;
}

div.not-found-container .error-code {
    font: bold calc(9.4rem + 10vw) 'Raleway';
    color: #fff;
}

div.not-found-container p {
    padding: 0 16px;
    position: relative;
    z-index: 1;
}

div.not-found-container a {
    color: #fff;
    position: relative;
    z-index: 1;
}

div.not-found-container .logo {
    position: absolute;
    left: calc(16px + 1.4vw);
    top: calc(16px + 1.4vw);
    height: 48px;
    width: 48px;
}

div.not-found-container .logo img {
    width: 100%;
    height: 100%;
}