
<div class="chart-container">
  <button md-button class="product-item" *ngFor="let product of products">
    <div class="percent" [style.color]="product.completion_info ? colors[product.completion_info.status] : '#fff'">
      {{ product.completion_info ? product.completion_info?.percent_complete + '%' : '0%' }}
    </div>
    <div class="name">
      {{ product.name }}
    </div>
  </button>
</div>