.product-item {
  margin: 0;
  padding: 0;

  & /deep/ .mat-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    .percent {
      min-width: 50px;
      font-size: calc(1.2rem + 0.3vw);
      color: rgba(255, 255, 255, 0.6);
      text-align: left;
    }
  }
}
