<md-card>
  <md-card-title><span>Product Templates</span> <button md-raised-button color="primary" (click)="onAdd()">Add Template</button> </md-card-title>
  <md-card-content>
    <md-input-container>
      <span mdPrefix><i class="material-icons">search</i>&nbsp;</span>
      <input type="text" mdInput #query placeholder="Search product templates">
    </md-input-container>
    <md-list>
      <md-list-item *ngFor="let product of filtered_products$ | async; let i = index">
        <div class="list-item-container">
          <div class="title">
            <button md-icon-button (click)="onEdit(product)"><i class="material-icons">edit</i></button>
            <button md-icon-button (click)="onRemove(product)"><i class="material-icons">delete</i></button>
            &nbsp;
            {{ product.name }}
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>