<div class="dialog-container">
  <div class="dialog-header">
    <h2 md-dialog-title>{{ dialogRef.config.data.role === 'edit' ? 'Edit' : 'Add' }} Template</h2>
    <!--<div class="editor-controls">
      <button md-icon-button [mdMenuTriggerFor]="menu"><i class="material-icons">more_vert</i></button>
      <md-menu #menu="mdMenu">
        <button color="primary" md-menu-item (click)="onUndo()" >Undo</button>
        <button color="primary" md-menu-item (click)="onRedo()" >Redo</button>
      </md-menu>-->
</div>
<md-divider></md-divider>
<div md-dialog-content class="list-container">
  <div class="list-viewport" (scroll)="onListScroll($event)">
    <form [formGroup]="_productModelForm">
      <md-input-container>
        <input mdInput formControlName="name" placeholder="Name" required />
      </md-input-container>
      <md-select placeholder="Default Type" formControlName="default_type" required>
        <md-option *ngFor="let type of _productModelForm.value.types; let i = index" [value]="i">{{ i + 1 }}. {{ type.name }}</md-option>
      </md-select>
      <!--<md-input-container>
        <input mdInput formControlName="default_type" placeholder="Default Type" required />
      </md-input-container>-->
      <div class="types-header">
          <h2>Types</h2>
          <button md-raised-button color="primary" (click)="pushType()">Add Type</button>
      </div>
      <md-list class="types-list" formArrayName="types">
        <md-list-item *ngFor="let milestone of _productModelForm.controls.types.controls; let i = index">
          <div class="type-header" md-line>
            <h3><span [attr.data-idx]="i + 1"></span>{{ _productModelForm.value.types[i].name }}</h3>
            <div class="controls">
              <button md-icon-button mdTooltip="Delete" (click)="onRemove(i)">
                <i class="material-icons" style="color: rgba(0, 0, 0, 0.5)" >delete</i>
              </button>
            </div>
          </div>
          <div class="type-form" [formGroupName]="i">
            <!--<pt-milestone-info [milestoneFormGroup]="_productModelForm.controls.types.controls[i]"></pt-milestone-info>-->
            <md-input-container>
                <input mdInput formControlName="name" placeholder="Name" required />
            </md-input-container>
            <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
                <md-option *ngFor="let m_uid of filteredMilestones[i] | async" [value]="m_uid">
                    {{ milestones[m_uid]?.name }}
                </md-option>
            </md-autocomplete>
            <md-input-container>
                <input mdInput formControlName="default_milestone_template" placeholder="Template" [mdAutocomplete]="auto" required />
            </md-input-container>
          </div>
        </md-list-item>
      </md-list>
    </form>
  </div>
</div>
<md-divider></md-divider>
<div md-dialog-actions>
  <button md-button md-dialog-close>Cancel</button>
  <button md-raised-button color="primary" [disabled]="!_productModelForm.valid" (click)='dialogRef.close(_productModelForm.value)'>Save</button>
</div>
</div>