md-divider,
[md-dialog-content] {
    margin: 0 -24px;
}

.list-container h3 {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.list-container h3 span {
  border-radius: 50%;
  background: #2196F3;
  /*color: #fff;*/
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-right: 32px;
}
.list-container h3 span::before {
  content: attr(data-idx);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
}

form {
    margin-top: 16px;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;

    .types-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: calc(1rem + 0.2vw);
            margin: 0;
        }
    }

    md-select {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .types-list {
        md-list-item {

            & /deep/ .mat-list-item-content {
                display: flex;
                flex-direction: column;
                height: auto;
            }
            
            h3 {
                font-size: calc(0.8rem + 0.2vw);
                font-weight: normal;
            }

            .type-header {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
            }

            // .type-form {
            //     display: flex;
            //     flex-direction: column;
            // }
        }
    }
}

[md-dialog-actions] {
    display: flex;
    justify-content: flex-end;
}