
md-input-container.ng-dirty.ng-invalid {
  & /deep/ .mat-input-placeholder {
    color: #f44336;
    .mat-placeholder-required {
      color: #f44336;
    }
  }
  & /deep/ .mat-input-underline {
    border-color: #f44336;
    .mat-input-ripple {
      background-color: #f44336;
    }
  }
}