<form [formGroup]="_milestoneFormGroup">
  <md-input-container class="name">
    <input mdInput formControlName="name" placeholder="Name" required />
  </md-input-container>
  <md-select class="status" placeholder="Status" formControlName="status" required color="warn">
    <md-option value="In Progress">In Progress</md-option>
    <md-option value="Needs Attention">Needs Attention</md-option>
    <md-option value="Complete">Complete</md-option>
  </md-select>
  <md-input-container class="points">
    <input mdInput type="number" formControlName="points" required placeholder="Points" />
  </md-input-container>
  <md-input-container class="days-differential">
    <input #dayDiff mdInput type="number" formControlName="days_differential" required placeholder="Days Differential" />
    <md-hint style="color: #2196F3;" align="end">{{ dayDiff.value == "0" ? "Zero means on the activation date" : "" }}</md-hint>
  </md-input-container>
  <md-input-container class="description">
    <textarea mdInput formControlName="description" placeholder="Description" ></textarea>
  </md-input-container>
  <md-select (change)="onActionChanged()" class="action" placeholder="Action" formControlName="action" color="warn">
    <md-option value="None">None</md-option>
    <md-option value="Upload">Upload</md-option>
    <md-option value="Form Download">Form Download</md-option>
  </md-select>
  <!--<md-input-container class="download-link">
    <input mdInput formControlName="download_link" placeholder="Download Link" />
  </md-input-container>-->
  <pt-form-autocomplete
    [forms]="forms"
    [fgroup]="_milestoneFormGroup"
    fname="download_link"
    placeholder="Download Link"
  >
  </pt-form-autocomplete>
</form>