<div #selectionContainer class="product-selection-container">
  <div class="product-selection">
    <div class="products-container">
      <div class="product-container" *ngFor="let product of _products; let i = index">
      <a [routerLink]="['/customer/milestone-tracker', selectedUid, i]">
        <div class="activation-date" *ngIf="product?.activation">
          <h4>Product Activation Date:</h4>
          <h4>{{ product?.activation | getDateMS | date }}</h4>
        </div>
        <div class="circle-container">
          <svg width="250" height="250" viewBox="0 0 100 100">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="100%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:#1E88E5;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#42A5F5;stop-opacity:1" />
              </linearGradient>
              <linearGradient id="grad2" x1="0%" y1="100%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:#97a7b4;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#6b8194;stop-opacity:1" />
              </linearGradient>
            </defs>
            <path [attr.d]=" ((product.completion_info)?.percent_complete || 0 ) / 100 * 360 | describeArc:{x: 50, y: 50, r: 43.5} "
              [@arcLoad]="product.arc_state"
              fill="transparent" stroke-width="6"/>
            <circle r="43" cx="50" cy="50" [attr.fill]=" product.completion_info ? '#42A5F5' : '#6b8194' "/>
          </svg>
          <span><i class="material-icons">{{ product.logo_info.alt | getIcon }}</i></span>
          <div *ngIf="product.completion_info" class="completion-container">
            <div>{{ (product.completion_info)?.percent_complete | number:'.0-0' }}% Complete</div>
          </div>
        </div>
        <div class="logo-container">
          <img [ptLogo]="product.logo_info">
        </div>
        <div class="attention-container">
          <div *ngIf="product.completion_info" class="product-status" [@productState]="product.product_state">
            {{ (product.completion_info)?.status }}
          </div>
          <ul>
            <li *ngIf="!product.completion_info"><a md-raised-button color="primary" [href]="demo_urls[i]">DEMO TODAY!</a></li>
            <li class="" *ngFor="let am of (product.completion_info)?.need_attenion_milestones">
              -&nbsp;&nbsp;{{am}}
            </li>
          </ul>
        </div>
      </a>
      </div>
    </div>
    <div class="moto-container">
      <img [ptLogo]="productLogos.logos['We Are Automotive']">
    </div>
  </div>
  <div class="pm-contact">
    <div>
      <span>
        <i class="material-icons">person</i>{{ (_projectManager)?.name }}
      </span>
    </div>
    <div>
      <span>
        <i class="material-icons">email</i>
        <a href="mailto: {{(_projectManager)?.email}}">{{ (_projectManager)?.email }}</a>
      </span>
    </div>
    <div>
      <span>
        <i class="material-icons">phone</i>
        <a href="tel: {{(_projectManager)?.phone | phone_format:false}}">{{ ((_projectManager)?.phone | phone_format:true) }}</a>
      </span>
    </div>
    <img [ptLogo]="productLogos.logos['DealerSocket']">
  </div>
</div>
