<div class="product-selection-container">
  <div class="product-selection">
    <div class="products-container">
      <div class="product-container" *ngFor="let product of product_info; let i = index">
      <a routerLink="/milestone-tracker">
        <div class="activation-date">
          <h4 *ngIf="(product.product | async)">Product Activation Date:</h4>
          <h4 *ngIf="(product.product | async)">{{ (product.product | async)?.activation }}</h4>
        </div>
        <div class="circle-container">
          <svg width="250" height="250" viewBox="0 0 100 100">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="100%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:#1E88E5;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#42A5F5;stop-opacity:1" />
              </linearGradient>
            </defs>
            <!-- (product.completion_info | async) ? (product.completion_info | async)?.percent_complete / 100 * 360 :  -->
            <path [attr.d]="describeArc(50, 50, 45.5, 0, (product.completion_info | async) ? (product.completion_info | async)?.percent_complete / 100 * 360 : 0)" [@arcLoad]="product.arc_state"
            fill="transparent" stroke-width="4"/>
            <circle r="45" cx="50" cy="50" fill="url(#grad1) #42A5F5"/>
          </svg>
          <span><i class="material-icons">{{getIcon(product.logo_info.alt)}}</i></span>
          <div *ngIf="product.completion_info | async" class="completion-container">
            <div>{{ (product.completion_info | async)?.percent_complete.toFixed(0) }}% Complete</div>
          </div>
        </div>
        <div class="logo-container">
          <img [src]="product.logo_info.path" [alt]="product.logo_info.alt">
        </div>
        <div *ngIf="product.completion_info | async" class="attention-container">
          <div class="product-status" [@productState]="product.product_state">
            {{(product.completion_info | async)?.status}}
          </div>
          <ul>
            <li class="" *ngFor="let am of (product.completion_info | async)?.need_attenion_milestones">
              -&nbsp;&nbsp;{{am}}
            </li>
          </ul>
        </div>
      </a>
      </div>
    </div>
    <div class="moto-container">
      <img [src]="productLogos.getLogo('We Are Automotive').path" [alt]="productLogos.getLogo('We Are Automotive').alt">
    </div>
  </div>
  <div class="pm-contact">
    <div>
      <span>
        <i class="material-icons">person</i>{{(userInfo.project_manager | async)?.name}}
      </span>
    </div>
    <div>
      <span>
        <i class="material-icons">email</i>
        <a href="mailto: {{(userInfo.project_manager | async)?.email}}">{{(userInfo.project_manager | async)?.email}}</a>
      </span>
    </div>
    <div>
      <span>
        <i class="material-icons">phone</i>
        <a href="tel: {{(userInfo.project_manager | async)?.phone | phone_format:false}}">{{((userInfo.project_manager | async)?.phone | phone_format:true)}}</a>
      </span>
    </div>
    <img [src]="productLogos.getLogo('DealerSocket').path" [alt]="productLogos.getLogo('DealerSocket').alt">
  </div>
</div>
