h2 {
  padding: 0 16px;
  margin: 0px;
}

.product-selection-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #222B32 no-repeat center center;
}

.product-selection-container h1, h2, h3, h4, h5, p, a, span {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.product-selection-container .product-selection {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.product-selection-container .product-selection .products-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 8;
  max-width: 1640px;
  flex-wrap: wrap;
}

.product-selection-container .product-selection .products-container .product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 81px;
  padding-bottom: 100px;
}

.product-selection-container .product-selection .products-container .product-container .activation-date {
  position: absolute;
  top: 0;
  transform: translate(-50%, -100%);
  text-align: center;
  left: 50%;
  white-space: nowrap;
}
.product-selection-container .product-selection .products-container .product-container .activation-date h4 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.product-selection-container .product-selection .products-container .product-container .activation-date h4:first-of-type {
  margin-bottom: 10px;
}

.product-selection-container .product-selection .products-container .product-container .circle-container {
  position: relative;
}

.product-selection-container .product-selection .products-container .product-container .circle-container svg circle,
.product-selection-container .product-selection .products-container .product-container .circle-container span {
  transition: all 0.2s ease;
}

.product-selection-container .product-selection .products-container .product-container:hover .circle-container span,
.product-selection-container .product-selection .products-container .product-container.hover .circle-container span {
  color: #2196F3;
}

.product-selection-container .product-selection .products-container .product-container:hover .circle-container svg circle,
.product-selection-container .product-selection .products-container .product-container.hover .circle-container svg circle {
  fill: #dfdfdf;
}

.product-selection-container .product-selection .products-container .product-container span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /*font-size: 4rem;*/
}

.product-selection-container .product-selection .products-container .product-container span i {
  font-size: 3rem;
}

.product-selection-container .product-selection .products-container .product-container .logo-container {
  min-height: 33px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-selection-container .moto-container {
  width: 100%;
  /*height: 100%;
  flex-grow: 1;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0px;
}
.product-selection-container .completion-container {
  position: absolute;
  text-align: center;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(110%);
  font-family: 'Raleway', sans-serif;
}

.product-selection-container .attention-container {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  color: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.product-selection-container .attention-container .product-status {
  font-weight: 900;
  font-size: calc(0.9rem + 0.25vw);
}

.product-selection-container .attention-container ul {
  padding-left: 0px;
  margin: 10px 0px;
  list-style-type: none;
  flex-grow: 1;
  transform: translateY(50%);
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.product-selection-container .product-selection .products-container .product-container:hover .attention-container ul,
.product-selection-container .product-selection .products-container .product-container.hover .attention-container ul {
  opacity: 1;
  transform: translateY(0%);
}

.product-selection-container .pm-contact {
  background-color: #2196F3;
  padding: 55px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(0.85rem + 0.3vw);
}

.product-selection-container .pm-contact span {
  display: flex;
  align-items: center;
  margin: 25px;
  font-family: 'Raleway', sans-serif;
}

.product-selection-container .pm-contact span i {
  margin-right: 10px;
}

.product-selection-container .pm-contact span a,
.product-selection-container .pm-contact span a:hover,
.product-selection-container .pm-contact span a:visited {
  color: #fff;
}
