.menu-open-button {
  position: fixed;
  top: calc(8px + 0.2vw);
  left: 8px;
  color: #fff;
  z-index: 1;

  transform: scale(1);
  transition: transform 0.2s ease;

  &.pinned {
    transform: scale(0);
  }
}

md-sidenav-container {
  display: flex;
  flex-direction: column;
}

md-sidenav {
  background-color: #222B32;
  color: #fff;
  width: 250px;
  font-family: 'Raleway', sans-serif;

  & /deep/ .cdk-focus-trap-content {
      display: flex;
      flex-direction: column;
  }

  .pin-toggle {
    position: absolute;
    top: 3px;
    right: 8px;
    z-index: 1;
  }
}

md-sidenav-container /deep/ .mat-sidenav-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

// .product-selection-container {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   position: relative;
//   min-height: 100vh;
//   width: 100%;
//   background: #222B32 no-repeat center center;
// }