
<button md-icon-button class="menu-open-button" (click)="sidenav.toggle()" [class.pinned]="pinned_state === 'pinned' ? true : false">
  <div pt-svg-morph [selectedPath]="sidenav_button_state"  [svgDocOpts]="{
    fill: arrowFill,
    height: '24',
    width: '24',
    viewBox: '0 0 24 24',
    xmlns: 'http://www.w3.org/2000/svg'
  }"
  [paths]="[
    { name: 'open', path: 'M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z' },
    { name: 'close', path: 'M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z' }
  ]"
  ></div>
</button>

<md-sidenav-container #sideNavContainer>
  <md-sidenav #sideNav (open-start)="onSidenavOpenStart()" (close-start)="onSidenavCloseStart()" [mode]="sidenav_mode">
    <button class="pin-toggle" [style.color]='lockFill' md-icon-button [style.display]="!sidenav_can_lock ? 'none' : 'inline-block'" (click)="togglePinndedIcon()">
      <i class="material-icons">{{ pinned_icon }}</i>
    </button>
    <ng-content select="pt-dash-menu"></ng-content>
  </md-sidenav>
  <ng-content></ng-content>
</md-sidenav-container>
