.pt-label {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .button-container {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        z-index: 0;
        opacity: 0;
        // background: linear-gradient(#263238, transparentize(#263238, 0));
        background: #263238;
    }

    &:hover .button-container {
        z-index: 2;
        opacity: 1;
    }

    p {
        margin: 0;
        padding: 0;
        z-index: 1;
    }
}