md-input-container {
    width: 100%;
    &.ng-invalid {
        md-hint {
            color: rgba(189, 52, 42, 0.729412);
        }
    }
}

md-card-actions {
    display: flex;
    justify-content: flex-end;
}