<md-card>
  <md-card-title>Edit info</md-card-title>
  <md-card-content>
    <form *ngIf="info_form" [formGroup]="info_form">
      <md-input-container>
        <input mdInput placeholder="Name" formControlName="name" required>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Email" formControlName="email" required>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Phone" formControlName="phone" required>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions *ngIf="info_form">
    <button md-raised-button color="primary" (click)="onSave()" [disabled]="!info_form.valid">SAVE</button>
  </md-card-actions>
</md-card>
