.login-container {
  background: url('../assets/login-background.png');
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.product-container .logo-container {
  margin: 0 30px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.product-container .logo-container:hover {
  opacity: 1;
}

md-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 75px;
  width: 25%;
}

md-card img {
  margin-bottom: 50px;
}
md-card md-input {
  margin-top: 25px;
  width: 100%;
}
md-card button {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2.5px;
}
