<div class="container" [formGroup]="fgroup">
  <md-input-container class="pt-form-autocomplete-input">
      <input mdInput [placeholder]="placeholder" [formControlName]="fname" #formName [mdAutocomplete]="auto"/>
  </md-input-container>
  <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
      <md-option *ngFor="let form of filteredForms | async" [value]="form.$key">
          {{ form.name }}
      </md-option>
  </md-autocomplete>
</div>