$borderColor: rgba(255, 255, 255, 0.12);

md-card {
    width: 700px !important;
    max-width: calc(100vw - 32px);

    md-card-title {
        display: flex;
        justify-content: space-between;
    }

    md-card-content {
        md-input-container {
            width: calc(100%);
        }

        md-input-container /deep/ .mat-input-prefix {
            transform: translateY(11%);
        }

        md-input-container span[mdPrefix] i {
            font-size: 19px;
        }
    }
}

md-list {
//   padding: 0 16px;
  flex-grow: 1;
  overflow-y: auto;
  width: calc(100%);
//   max-height: 260px;
    color: #fff;
}
md-list-item:not(:last-of-type) {
  border-bottom: solid 1px $borderColor;
  margin: 0;
  padding: 0;
}
md-list-item /deep/ .mat-list-item-content {
  margin: 0;
  padding: 0 !important;
  height: auto !important;
}

md-list-item .list-item-container {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

md-list-item .list-item-container .title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}


md-list-item .collapser {
  cursor: pointer;
  user-select: none;
  color: #fff;
}

md-list-item .more-info {
  overflow: hidden;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

md-list-item .more-info .col {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin: 0px 3px;
  margin-top: 6px;
  color: #fff;
}

md-list-item .more-info .col .label {
  font-size: 12px;
  color: rbga(255, 255, 255, 0.5);
  margin-bottom: 5px;
}

table {
    display: table;
    // border: 1px solid $borderColor;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%
}
table tr {
    position: relative;
    height: 36px;
    vertical-align: middle;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
tbody th:hover /deep/ svg {
    fill: rgba(255, 255, 255, 0.5);
}

table th,
table td {
    padding: 0 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
}

table td i {
    color: rgba(255, 255, 255, 0.57);
    font-size: 18px;
    line-height: 18px;
}

table td {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid $borderColor;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.87);
}

table td:not(:last-of-type) {
    border-bottom: 1px solid $borderColor;
}

table md2-pagination /deep/ .md2-rows-select,
table md2-pagination /deep/ .md2-rows-select .md2-select-trigger,
table md2-pagination /deep/ .md2-rows-select .md2-select-arrow,
table md2-pagination /deep/ .md2-rows-select .md2-select-value {
    color: rgba(255, 255, 255, 0.87);
}