<h2 md-dialog-title>
    {{ dialogRef.config.data.role === "edit" ? "Edit Info" : "Add User" }}
</h2>
<md-dialog-content>
    <form [formGroup]="user_form">
        <md-input-container>
            <input type="text" mdInput formControlName="name" placeholder="Name" required>
        </md-input-container>
        <md-input-container>
            <input type="text" mdInput formControlName="email" placeholder="Email" required>
        </md-input-container>
        <md-input-container>
            <input type="text" mdInput formControlName="phone" placeholder="Phone" required>
        </md-input-container>
        <md-input-container>
            <input type="text" mdInput formControlName="title" placeholder="Title">
        </md-input-container>
    </form>
    <!--<h4>Dealerships</h4>
    <md-input-container>
      <span mdPrefix><i class="material-icons">search</i>&nbsp;</span>
      <input type="text" mdInput #query placeholder="Search users">
    </md-input-container>
    <md-list>
        <md-list-item *ngFor="let dealership of dealerships let i = index">
            <div class="list-item-container">
                <div class="title">
                    <md-checkbox [(ngModel)]="info.selected[dealership.$key]"></md-checkbox>
                    &nbsp;
                    {{ dealership.name }}
                </div>
                <i class="material-icons collapser" unselectable="on" [@collapserState]="info.expanded[dealership.$key] ? 'expand' : 'collapse' " (click)="toggleExpanded(dealership.$key)">expand_more</i>
                <div class="more-info" [@expandState]="info.expanded[dealership.$key] ? 'in' : 'out' ">
                    <div class="col">
                        <span class="label" *ngIf="dealership?.address">Address</span>
                        {{dealership.address}}
                    </div>
                    <div class="col" *ngIf="dealership?.city">
                        <span class="label">City</span>
                        {{ dealership.city }}
                    </div>
                    <div class="col" *ngIf="dealership?.administrative_area_l1">
                        <span class="label">State/Province</span>
                        {{dealership.administrative_area_l1}}
                    </div>
                </div>
            </div>
        </md-list-item>
    </md-list>-->
</md-dialog-content>
<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-raised-button (click)="onSave()" color="primary" [disabled]="!user_form.valid">Save</button>
</md-dialog-actions>