<md-card>
  <md-card-title><span>Users</span> <button md-raised-button color="primary" (click)="onAddUser()">Add User</button> </md-card-title>
  <md-card-content>
    <md-input-container>
      <span mdPrefix><i class="material-icons">search</i>&nbsp;</span>
      <input type="text" mdInput #query placeholder="Search users">
    </md-input-container>
    <md-list>
      <md-list-item *ngFor="let user of filteredUsers$ | async; let i = index">
        <div class="list-item-container">
          <div class="title">
            <button md-icon-button (click)="onEdit(user)"><i class="material-icons">edit</i></button>
            <button md-icon-button (click)="onRemoveUser(user)"><i class="material-icons">delete</i></button>
            &nbsp;
            {{ user.name }}
          </div>
        <i class="material-icons collapser" unselectable="on" [@collapserState]="info.expanded[user.$key] ? 'expand' : 'collapse' " (click)="toggleExpanded(user.$key)">expand_more</i>
          <div class="more-info" [@expandState]="info.expanded[user.$key] ? 'in' : 'out' ">
            <div class="col">
              <span class="label" *ngIf="user?.email">Email</span>
              {{user.email}}
            </div>
            <div class="col" *ngIf="user?.phone">
              <span class="label">Phone</span>
              {{ user.phone | phone_format:true }}
            </div>
            <div class="col" *ngIf="user?.title">
              <span class="label">Title</span>
              {{user.title}}
            </div>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>