$borderColor: rgba(255, 255, 255, 0.12);

h2, h4 {
  font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

md-input-container {
    width: 100%;
}

md-list {
//   padding: 0 16px;
  flex-grow: 1;
  overflow-y: auto;
  width: calc(100%);
  height: auto;
  max-height: 460px;
    color: #000;
}
md-list-item:not(:last-of-type) {
  border-bottom: solid 1px $borderColor;
  margin: 0;
  padding: 0;
}
md-list-item /deep/ .mat-list-item-content {
  margin: 0;
  padding: 0 !important;
  height: auto !important;
}

md-list-item .list-item-container {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

md-list-item .list-item-container .title {
    // overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}


md-list-item .collapser {
  cursor: pointer;
  user-select: none;
  color: #000;
}

md-list-item .more-info {
  overflow: hidden;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

md-list-item .more-info .col {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin: 0px 3px;
  margin-top: 6px;
  color: #000;
}

md-list-item .more-info .col .label {
  font-size: 12px;
  color: rbga(0,0,0, 0.5);
  margin-bottom: 5px;
}

md-dialog-actions {
    display: flex;
    justify-content: flex-end;
}