$borderColor: rgba(255, 255, 255, 0.12);

md-card {
    width: 700px !important;

    md-card-title {
        display: flex;
        justify-content: space-between;
        span {
          margin-right: 10px;
        }
    }

    md-card-content {
        md-input-container {
            width: calc(100%);
        }

        md-input-container /deep/ .mat-input-prefix {
            transform: translateY(11%);
        }

        md-input-container span[mdPrefix] i {
            font-size: 19px;
        }
    }
}

md-list {
//   padding: 0 16px;
  flex-grow: 1;
  overflow-y: auto;
  width: calc(100%);
//   max-height: 260px;
    color: #fff;
}
md-list-item:not(:last-of-type) {
  border-bottom: solid 1px $borderColor;
  margin: 0;
  padding: 0;
}
md-list-item /deep/ .mat-list-item-content {
  margin: 0;
  padding: 0 !important;
  height: auto !important;
}

md-list-item .list-item-container {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

md-list-item .list-item-container .title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}