<div class="dialog-container">
  <div class="dialog-header">
    <h3 md-dialog-title>Add Milestone</h3>
    <div class="controls">
      <button md-icon-button [mdMenuTriggerFor]="addMenu"><i class="material-icons">more_vert</i></button>
      <md-menu #addMenu="mdMenu">
        <button color="primary" md-menu-item (click)="onClear()" >Clear</button>
      </md-menu>
    </div>
  </div>
  <md-dialog-content>
    <pt-milestone-info [milestoneFormGroup]="add_form"></pt-milestone-info>
  </md-dialog-content>
  <md-dialog-actions>
    <button  md-button md-dialog-close >Cancel</button>
    <button color="primary" md-raised-button (click)="dialogRef.close(add_form.value)" [disabled]="!add_form.valid">Add</button>
  </md-dialog-actions>
</div>