

.dialog-container {
  width: 300px;
  max-width: 100vw;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-weight: normal;
  font-family: 'Roboto';
}

md-dialog-content pt-milestone-info /deep/ form {
  display: flex;
  flex-direction: column;
}

md-dialog-content pt-milestone-info /deep/ form md-input-container,
md-dialog-content pt-milestone-info /deep/ form md-select,
md-dialog-content pt-milestone-info /deep/ form md-textarea:not(:last-of-type) {
  margin-bottom: 10px;
}

md-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 45px;
}

md-dialog-actions button:not(:last-of-type) {
  margin-right: 8px;
}