.dialog-container {
  width: 650px;
  height: 700px;
  max-width: 100%;
  max-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dialog-header [md-dialog-title] {
  margin-bottom: 0;
  margin-top: 0;
}

[md-dialog-title] {
  font-family: 'Roboto';
}

md-divider {
  margin: 0 -24px;
}


.editor-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 16px;
}

.list-viewport {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow: auto;
  padding: 12px 16px;
}
md-list {
  border-bottom: 1px solid lightgrey;
}

.milestone-model-name {
  width: 100%;
}

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  /*width: 650px;*/
  /*max-width: 100%;*/
  padding: 0 !important;
}

md-input-container {
  margin: 5px 7.5px;
}

md-card {
  position: absolute;
  right: 4%;
  bottom: 9px;
  z-index: 1;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  overflow: hidden;
}

pt-milestone-info >>> form {
  padding: 0 4px;
}

pt-milestone-info >>> form > * {
  margin: 0 4px;
}

pt-milestone-info >>> md-input-container.name {
  width: 100%;
}

pt-milestone-info >>> md-input-container.description {
  width: 100%;
}

pt-milestone-info >>> pt-form-autocomplete .container {
  margin: 0 4px;
}

pt-milestone-info >>> md-input-container.pt-form-autocomplete-input {
  margin-top: 10px;
}

pt-milestone-info >>> md-select {
  margin-top: 10px;
}

button[md-fab] {
  position: absolute;
  right: 23px;
  bottom: 11px;
  transform: translate3d(-50%, -50%, 0);
}

button[md-fab].primary {
  color: #2196F3;
}

md-list-item >>> .mat-list-item-content {
  height: auto !important;
  flex-wrap: wrap;
}

.list-container h3 {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.list-container h3 span {
  border-radius: 50%;
  background: #2196F3;
  /*color: #fff;*/
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-right: 32px;
}
.list-container h3 span::before {
  content: attr(data-idx);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
}

.list-container .milestone-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div[md-dialog-actions] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 0;
  height: 45px;
}

div[md-dialog-actions] button:not(:last-of-type) {
  margin-right: 8px;
}

md-card-header >>> .mat-card-header-text {
  display: none;
}
