
<div class="dialog-container">
  <div class="dialog-header">
    <h2 md-dialog-title>Edit Milestones</h2>
    <div class="editor-controls">
      <button md-icon-button [mdMenuTriggerFor]="menu"><i class="material-icons">more_vert</i></button>
      <md-menu #menu="mdMenu">
        <button color="primary" md-menu-item (click)="onUndo()" >Undo</button>
        <button color="primary" md-menu-item (click)="onRedo()" >Redo</button>
      </md-menu>
    </div>
</div>
<md-divider></md-divider>
<div md-dialog-content class="list-container">
  <div class="list-viewport" (scroll)="onListScroll($event)">
    <form [formGroup]="milestone_forms">
      <md-input-container class="milestone-model-name">
        <input mdInput formControlName="name" placeholder="Name" required />
      </md-input-container>
      <md-list class="milestone-list" formArrayName="milestones">
        <md-list-item style="flex-wrap: wrap" *ngFor="let milestone of milestone_forms.controls.milestones.controls; let i = index">
          <div class="milestone-header" md-line>
            <h3><span [attr.data-idx]="i + 1"></span>{{ milestone_forms.value.milestones[i].name }}</h3>
            <div class="controls">
              <button md-icon-button mdTooltip="Delete" (click)="onRemove(i)">
                <i class="material-icons" style="color: rgba(0, 0, 0, 0.5)" >delete</i>
              </button>
            </div>
          </div>
          <div [formGroupName]="i">
            <pt-milestone-info [forms]="forms" [milestoneFormGroup]="milestone_forms.controls.milestones.controls[i]"></pt-milestone-info>
          </div>
        </md-list-item>
      </md-list>
    </form>
  </div>
  <button (click)="onAddFabClicked()" [@buttonState]="button_state" md-fab>
    <md-icon>add</md-icon>
  </button>
</div>
<md-divider></md-divider>
<div md-dialog-actions>
  <button md-button md-dialog-close>Cancel</button>
  <button md-raised-button color="primary" [disabled]="!milestone_forms.valid" (click)='onSave()'>Save</button>
</div>
</div>
