.editor-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 16px;

}


.list-viewport {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
}
md-list {
  max-height: 64vh;
  /*flex-grow: 1;*/
  overflow: auto;
}

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

md-input-container {
  margin: 5px 7.5px;
}

md-card {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  overflow: hidden;
}

md-card button[md-fab] {
  position: absolute;
  right: 0px;
  bottom: 11px;
  transform: translate3d(-50%, -50%, 0);
}

md-card button[md-fab].primary {
  color: #2196F3;
}

.list-container h3 {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.list-container h3 span {
  border-radius: 50%;
  background: #2196F3;
  /*color: #fff;*/
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-right: 32px;
}
.list-container h3 span::before {
  content: attr(data-idx);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
}

.list-container .milestone-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin-top: 25px;*/
}

.list-container .milestone-list .milestone-header {
  /*margin-top: 25px;*/
}

/*md-list-item:hover .milestone-header .controls {
  opacity: 1;
}

md-list-item .milestone-header .controls {
  opacity: 0;
  transition: opacity 0.2s ease;
}*/

.list-container .milestone-header .controls button[md-button] {
  min-width: 0px;
}
