.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    max-width: 100vw;
    
    .header {
        color: #fff;
        width: 100%;
        max-width: calc(100vw - 32px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    form {
        background: #fff;
        padding: 16px;
    }

    md-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100% - 32px) !important;
        padding: 0px;
        margin: 0 16px !important;
        margin-bottom: 1px !important;
        border-radius: 0px;
        color: rgba(255, 255, 255, 0.9);

        &:hover {
            background-color: lighten(#263238, 2) !important;
        }

        &:first-of-type {
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
        }

        &:last-of-type {
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        position: relative;

        md-card-title {
            width: 300px;
            max-width: calc(100% - 24px - 32px - 32px);
            flex-shrink: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0px;
            font-size: calc(0.8rem + 0.3vw);
            font-weight: bold;
            padding: 16px 0;
            padding-left: 16px;
            padding-right: 10px;
        }

        md-card-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 1;
            padding-right: 16px;
            margin-bottom: 0px;
            overflow: hidden;
            
            .col {
                width: 30%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex-shrink: 0;
            }

            .col:last-of-type {
                flex-grow: 1;
                flex-shrink: 1;
                width: 0%;
            }

            md-card-actions {
                padding: 0;
                margin: 0;
                height: 42px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-basis: 1px;
                overflow: hidden;
            }
        }

        &:hover md-card-content md-card-actions {
            flex-basis: 10%;
            background-color: lighten(#263238, 2);

            & /deep/ .mat-button-wrapper {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}