<div class="grid">
  <div class="header">
    <h1>Forms</h1>
    <pt-upload-pdf></pt-upload-pdf>
  </div>
  <md-card *ngFor="let form of forms; let i = index">
    <md-card-title>
      {{ form.name }}
    </md-card-title>
    <md-card-content>
      <div class="col"> Last Updated: {{ form?.updated | date }} </div>
      <div class="col"><pt-label-to-clipboard [label]="form?.downloadUrl"></pt-label-to-clipboard></div>
      <md-card-actions>
        <button md-icon-button (click)="onRemove(form)" color="warn"><i class="material-icons">delete</i></button>
      </md-card-actions>
    </md-card-content>
  </md-card>
</div>