<div class="grid">
  <h2><span>Dealerships</span> <button md-raised-button color="primary" (click)="onAdd()">Add Dealership</button></h2>
  <div *ngIf="!loaded">
    <md-spinner></md-spinner>
  </div>
  <div class="no-dealers" *ngIf="loaded && objectEq(dealerships, {})">
    No dealerships
  </div>
  <md-card *ngFor="let uid of getKeys(dealerships)">
    <div class="status"
      [class.on-schedule]="getStatus(dealerships[uid]) === 'On Schedule'"
      [class.needs-attention]="getStatus(dealerships[uid]) === 'Needs Attention'">
      <i class="material-icons">{{ getStatus(dealerships[uid]) === 'On Schedule' ? 'done' : 
                                   getStatus(dealerships[uid]) === 'Needs Attention' ? 'error_outline' : 'remove_circle_outline' }} </i>
    </div>
    <md-card-title>
      {{ dealerships[uid]?.name }}
    </md-card-title>
    <md-card-content>
      <div class="col"> {{ dealerships[uid]?.products?.length }} Product(s)</div>
      <div class="col"> {{ dealerships[uid]?.users?.length }} User(s)</div>
      <div class="col"> {{ dealerships[uid]?.location }} </div>
      <md-card-actions>
        <button md-icon-button (click)="onEdit(uid)" color="primary"><i class="material-icons">edit</i></button>
        <button md-icon-button (click)="onRemove(uid)" color="warn"><i class="material-icons">delete</i></button>
      </md-card-actions>
    </md-card-content>
  </md-card>
</div>
