<pt-dash [storageNamespace]="user_info?.key + ':PDM'">
  <pt-dash-menu>
    <div class="menu-header">
      <h4>{{customer._info?.name}}</h4>
      <div class="header-info">
        <div class="dealershp-info" *ngIf="dealerships">
          <div> {{ getKeys(dealerships)?.length }}</div>
          <div class="feild"> {{ getKeys(dealerships)?.length === 1 ? 'Dealership' : 'Dealerships' }} </div>
        </div>
        <div class="product-info">
          <div> {{ getNumProducts() }}</div>
          <div class="feild"> {{ getNumProducts() === 1 ? 'Product' : 'Products' }} </div>
        </div>
      </div>
    </div>
    <div class="menu-container">
      <button md-button (click)="userInfo.logout()"><span>Logout</span><i class="material-icons">power_settings_new</i></button>
      <div class="section">Dealerships</div>
      <div class="button-list" *ngIf="!objectEq(dealerships, {})">
        <button  #menuButton md-button *ngFor="let dealership_uid of getKeys(dealerships); let i = index" [tabIndex]="i" mdTooltip="View {{ dealerships[dealership_uid]?.name }}" (click)="updateSelectedUid(dealership_uid)">
          <i class="material-icons" mdTooltip="Currently Viewing" *ngIf="selected_uid === dealership_uid">visibility</i>
          <span>{{ dealerships[dealership_uid]?.name }}</span>
          <div class="menu-item-icons">
            <i class="material-icons" mdTooltip="You are a primary contact" *ngIf="dealerships[dealership_uid].user_is_primary">person</i>
          </div>
        </button>
      </div>
    </div>
  </pt-dash-menu>
  <div *ngIf="!objectEq(dealerships, {})">
    <product-selection 
      [dealerships]="dealerships"
      [selectedUid]="selected_uid">
    </product-selection>
  </div>
  <div class="no-dealerships" *ngIf="objectEq(dealerships, {})">
    <h1>WOAH</h1>
    <h3>Looks like you have no dealerships associated with you!</h3>
    <h4>Please contact our team, to see if we can get you setup!</h4>
  </div>
</pt-dash>
