$menu-background: #263238;
$background: darken($menu-background, 3%);
$textColor: #fff;
$primaryColor: #2196f3;
$warnColor: rgb(189, 52, 42);

.container {
  width: 100%;
  height: 100vh;
  background: transparent;
}

.no-dealerships {
  background: $background;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: lighten($menu-background, 50%);
  font-weight: normal !important;

  h1 {
    color: darken($background, 10%);
    text-shadow: 0px 0px 1px lighten($menu-background, 20%);
    font-size: calc(5rem + 4.4vw);
    margin: 30px 0;
    font-weight: bold !important;
  }
}

.menu-header {
  background: url('../assets/sidenav-header-background.png') #222B32 no-repeat 0% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(250px - 32px);
  height: 112px;
  padding: 8px 16px;

  h4 {
    margin: 0;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-info  {
    display: flex;

    & > div { 
      flex-grow: 1;
    }

    .feild {
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
    }

  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px 0px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: url('../assets/triangle-pattern.png') repeat 0% 0%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.07;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .section {
    color: rgba(255, 255, 255, 0.5);
    padding: 0 8px;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .button-list {
    display: flex;
    flex-direction: column;
  }

  button[md-button] {
    margin: 0;

    & /deep/ .mat-button-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-item-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      span {
        max-width: 60%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}