.product {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;

  .list-header {
    display: flex;
    justify-content: space-between;

    .collapser {
      cursor: pointer;
      user-select: none;
    }
  }

  .more-info {
    // overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    // justify-content: space-around;

    .col {
      display: flex;
      flex-direction: column;

      justify-content: space-between;

      padding: 10px 8px;

      .feild {
        font-size: 14px;
        color: #424242;
        margin-bottom: 20px;
        text-align: left;
        width: 100%;
      }

      &.edit-milestones {
        // flex-grow: 1;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

