
<div>
  <div class="product" *ngFor="let product of products_model; let i = index">
    <div class="list-header">
      <div>
        <md-checkbox (change)="toggleSelected(product.$key)" [(ngModel)]="product.selected"></md-checkbox>
        {{ product.name }}
      </div>
      <i class="material-icons collapser" unselectable="on" [@collapserState]="info.expanded[product.$key] || 'out' " (click)="toggleExpanded(product.$key)">expand_more</i>
    </div>
    <div class="more-info" [@overflowState]="info.expanded[product.$key] || 'out'" [@expandState]="info.expanded[product.$key] || 'out' ">
      <div class="col" *ngIf="product.types">
        <span class="feild">Product Type</span>
        <md-select placeholder="Type" *ngIf="product.types?.length > 0" [(ngModel)]="product.template" >
           <md-option *ngFor="let type of product.types; let i = index" [value]="type.default_milestone_template">{{ type.name }}</md-option>
        </md-select>
      </div>
      <div class="col">
        <span class="feild">Start Date</span>
        <md2-datepicker *ngIf="product.started" [(ngModel)]="product.started"></md2-datepicker>
      </div>
      <div class="col">
        <span class="feild">Activation Date</span>
        <md2-datepicker *ngIf="product.activation" [(ngModel)]="product.activation"></md2-datepicker>
      </div>
      <div class="col" *ngIf="product.types">
        <span class="feild">Milestone Templates</span>
        <md-select placeholder="Templates" *ngIf="milestones_model" [(ngModel)]="product.template">
           <md-option *ngFor="let milestone of milestones_model" [value]="milestone.$key">{{ milestone.name }}</md-option>
        </md-select>
      </div>

      <div class="col edit-milestones">
        <span class="feild">Edit Milestones</span>
        <button md-raised-button color="primary" [disabled]="!product.template && !product.milestone_model" (click)="openMilestoneDialog(i, product.template)">EDIT</button>
      </div>
    </div>
  </div>
</div>