<p-carousel [value]="_users" numVisible="1" easing="easeOutStrong">
    <template let-user pTemplate="item">
      <div class="info">
        <span>{{ user.name }}</span> <span *ngIf="user.title">&nbsp;({{user.title}})</span>
      </div>
      <div class="info">
        <i class="material-icons">phone</i>
        <a href="tel: {{ user.phone | phone_format:false }}">{{ user.phone | phone_format:true }}</a>
      </div>
      <div class="info">
        <i class="material-icons">email</i>
        <a href="mailto: {{ user.email }}">{{ user.email }}</a>
      </div>
    </template>
</p-carousel>
