<form [formGroup]="dealership_form" class="dealership-info-form">
    <md-input-container [dividerColor]="formErrors['name'] ? 'warn' : 'accent'">
      <input mdInput required #name placeholder="Name" formControlName="name" >
      <md-hint align="end" *ngIf="formErrors['name']">{{ formErrors['name'] }}</md-hint>
    </md-input-container>
    <md-input-container [dividerColor]="formErrors['location'] ? 'warn' : 'accent'">
      <input mdInput required #location placeholder="Dealership Location" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="location" >
      <md-hint align="end" *ngIf="formErrors['location']">{{ formErrors['location'] }}</md-hint>
    </md-input-container>
</form>

<div class="pt-map-container">
  <div class="controls" (click)="toggleExpanded()">
    <span>Preview Map</span>
    <i class="material-icons" unselectable="on" [@collapserState]="preview_map_state">expand_more</i>
  </div>
  <div class="expandable" [@expandState]="preview_map_state">
    <div class="pt-google-map" #map>
    </div>
  </div>
</div>