form.dealership-info-form {
  padding: 8px 16px;

  md-input-container {
    width: 100%;
    &.ng-invalid {
      md-hint {
        color: rgba(189, 52, 42, 0.729412);
      }
    }
  }
}

.pt-map-container {
  padding: 0px 16px;

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
  }

  .expandable {
    overflow: hidden;
    border-top: 1px dashed lightgrey;
    border-bottom: 1px dashed lightgrey;
    .pt-google-map {
      height: 300px;
    }
  }

}

