/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import 'unicorn-app-theme.css';

@charset "UTF-8";

@font-face {
  font-family: "DealerSocket Product Icons";
  src: url("./assets/untitled-font-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "DealerSocket Product Icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "DealerSocket Product Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-idms-icon:before {
  content: "\62";
}
.icon-inventory-plus-icon:before {
  content: "\63";
}
.icon-revenue-radar-icon:before {
  content: "\64";
}
.icon-dealersocket-icon:before {
  content: "\65";
}
.icon-dealerfire-icon:before {
  content: "\66";
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Change the white to any color ;) */
.login-container input:-webkit-autofill,
.login-container input:-webkit-autofill:hover,
.login-container input:-webkit-autofill:focus,
.login-container input:-webkit-autofill:active {
    background-color: transparent !important;
    transition: background-color 99999999999s ease-in-out 0s;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75) !important;
    background-clip: content-box;
     /*-webkit-box-shadow: 0 0 0px 1000px white inset;*/
}

.login-container .md-input-placeholder {
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}

.login-container .md-input-placeholder,
.login-container input {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Raleway', sans-serif;
}

.login-container .md-input-underline {
  border-color: rgba(255, 255, 255, 0.75);
}

.authentication-overlay md-card md-progress-circle path {
  stroke: #fff;
}
