/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import 'unicorn-app-theme.css';

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Change the white to any color ;) */
.login-container input:-webkit-autofill,
.login-container input:-webkit-autofill:hover,
.login-container input:-webkit-autofill:focus,
.login-container input:-webkit-autofill:active {
    background-color: transparent !important;
    transition: background-color 99999999999s ease-in-out 0s;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75) !important;
    background-clip: content-box;
     /*-webkit-box-shadow: 0 0 0px 1000px white inset;*/
}

.login-container .md-input-placeholder {
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}

.login-container .md-input-placeholder,
.login-container input {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Raleway', sans-serif;
}

.login-container .md-input-underline {
  border-color: rgba(255, 255, 255, 0.75);
}

.authentication-overlay md-card md-progress-circle path {
  stroke: #fff;
}

.md-tab-header {
  border: none;
  margin: 25px;
}

.md-tab-list {
  display: flex;
  justify-content: space-around;
}

.md-tab-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-tab-label:hover {
  opacity: 1 !important;
}

.md-tab-label.md-tab-active {
  opacity: 1 !important;
}

.md-tab-label:focus {
     background-color: transparent !important;
}
.md-tab-body-wrapper {
  flex-grow: 1;
}

md-tab-body {
  background-color: #222B32;
  color: #fff;
  text-align: center;
}

.dialog-container md-tab-body {
  background-color: #fff;
  color: #000;
  max-height: 82vh;
}

.dialog-container md-tab-header {
  display: none;
}

.md-list-item {
  flex-wrap: wrap;
  padding: 0 7.5px;
  height: auto !important;
}

/*.cdk-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}*/
