/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
@import 'unicorn-app-theme.css';

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

md-input-container.ng-dirty.ng-invalid label.mat-focused span.mat-placeholder-required {
  color: rgba(189, 52, 42, 0.729412) !important;
}

/*.dialog-container md-tab-body {*/
/*  background-color: #fff;*/
/*  color: #000;*/
/*  max-height: 83vh;*/
/*}*/

/*.dialog-container md-tab-header {*/
/*  display: none;*/
/*}*/

.md-list-item {
  flex-wrap: wrap;
  padding: 0 7.5px;
  height: auto !important;
}

.md2-datepicker-panel {
  font-family: 'Roboto', sans-serif;
}

.md2-datepicker-icon {
  top: 50% !important;
  transform: translateY(-43%);
}

.md2-datepicker-trigger {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-dialog-container {
  max-width: 100vw !important;
  /*max-height: 100vh !important;*/
}

/*md-dialog-container {*/
/*  padding: 0 !important;*/
/*}*/

/*.cdk-overlay-pane {*/
/*  border-radius: 2px;*/
/*  overflow: hidden;*/
/*}*/
